<!-- <ion-content color="light"> -->
  <!-- <ion-row> -->
    <!-- <ion-col> -->
      <ion-buttons slot="end">
        <ion-button (click)="signOut($event)" mode="md" class="user-profile-menu">
          <span>Sign Out</span>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="signOut($event)" mode="md" class="user-profile-menu">
          <span>My Profile</span>
        </ion-button>
      </ion-buttons>
    <!-- </ion-col> -->
  <!-- </ion-row> -->
<!-- </ion-content> -->