<ion-header mode="md" no-border>
  <ion-toolbar mode="md">
    <ion-title>Reset Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="medium">
        <ion-icon slot="icon-only" class="gp-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="f.form.valid && user.password == user.comfirmPassword && onSubmit()" #f="ngForm">
    <div class="form-details">
      <ion-list lines="none" class="forms" mode="md">

        <ion-item>
          <ion-input placeholder="Enter Password" name="password" [(ngModel)]="user.password" #password="ngModel"
            type="password" required>
          </ion-input>
        </ion-item>

        <div *ngIf="f.submitted && password.invalid">
          <span class="error">
            Please Enter Password
          </span>
        </div>

        <ion-item>
          <ion-input placeholder="Enter Confirm Password" name="comfirmPassword" [(ngModel)]="user.comfirmPassword"
            #comfirmPassword="ngModel" type="password" required>
          </ion-input>
        </ion-item>

        <div *ngIf="f.submitted && comfirmPassword.invalid">
          <span class="error">
            Please Enter Confirm Password
          </span>
        </div>

        <div *ngIf="comfirmPassword.valid && user.password != user.comfirmPassword">
          <span class="error">
            Password and confirm password must be same!!
          </span>
        </div>

      </ion-list>
    </div>
    <div class="submit-button">
      <ion-button mode="md" class="tt-none" [disabled]="processing" expand="block" type="ngSubmit">
        Submit
      </ion-button>
    </div>
  </form>
</ion-content>