<app-header></app-header>

<ion-content color="light">
  <ion-row class="page-row">
    <ion-col size="12" size-md="6">
      <ion-item mode="md" lines="none" class="heading">
        <ion-label>Approved Payments</ion-label>
        <ion-button mode="md" size="large" fill="clear" slot="end" color="dark"><i class="gp-filter"></i></ion-button>
      </ion-item>

      <hr class="dassed-line">

      <ion-card class="grant" mode="md" *ngFor="let ap of approvedPayments">
        <ion-card-content>
          <ion-item mode="md" lines="none">
            <ion-label>
              <h2>{{ap.title}}</h2>
              <p>{{ap.link}}</p>
            </ion-label>
            <ion-label slot="end" text-right>
              <h3>$ {{ap.cost}}</h3>
              <p>Milestone {{ap.milestone}}</p>
            </ion-label>
          </ion-item>

          <ion-item mode="md" lines="none">
            <div class="users-container">
              <div class="users">
                <img src="assets/imgs/{{ap.apuserimg}}.png" alt=""> <span class="approved-user"> Approved by<a
                    href="">{{ap.apusername}}</a></span>
              </div>
            </div>
            <ion-button class="details" mode="md" slot="end">Widthdraw</ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6">
      <ion-item mode="md" lines="none" class="heading">
        <ion-label>Withdrawn Payments</ion-label>
        <ion-button mode="md" size="large" fill="clear" slot="end" color="dark"><i class="gp-filter"></i></ion-button>
      </ion-item>

      <hr class="dassed-line">
      <ion-card class="grant" mode="md" *ngFor="let wp of withdrawnPayments">
        <ion-card-content>
          <ion-item mode="md" lines="none">
            <ion-label>
              <h2>{{wp.title}}</h2>
              <p>{{wp.link}}</p>
            </ion-label>
            <ion-label slot="end" text-right>
              <h3>$ {{wp.cost}}</h3>
              <p>Milestone {{wp.milestone}}</p>
            </ion-label>
          </ion-item>

          <ion-item mode="md" lines="none">
            <div class="users-container">
              <div class="users">
                <img src="assets/imgs/{{wp.apuserimg}}.png" alt=""> <span class="approved-user"> Approved by<a
                    href="">{{wp.apusername}}</a></span>
              </div>
            </div>
            <ion-button class="details border" color="fadepurpule" mode="md" slot="end">{{wp.wptime}}</ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-content>